<h1>This is my app!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, iure voluptatibus. Voluptates vitae consequuntur in magnam dolorem quia molestias deleniti nesciunt, doloribus magni nisi rerum modi reprehenderit, aperiam nihil ex.</p>


<% if user_signed_in? %>
    <%= current_user.email %>
<% end %>
